body, h1, h2, h3, h4, p, a {
	margin: 0;
	font-family: "Mont";
}

a, input, button  {
	text-decoration: none;
	outline: none;
}

* {
	box-sizing: border-box;
}

body {

}

ul {
	text-decoration-style: none ;
	padding: 0;
}

@media screen and (min-width: 768px) {
    .header-mobile {
        display: none;
    }

    .header-desktop {
        display: block;
    }
}